@charset "UTF-8";

/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*PSEUDO-CLASSE*/

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #1d1d1d;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #71ae3f; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Inter';
}

 /*CONFIGURAÇÕES GLOBAIS*/

* {
    margin: 0px;
    padding: 0px;
}

/*BODY (CORPO)*/

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-padrao);
}

/*HEADER (CABEÇALHO)*/

header {
    width: auto;
    background-color: var(--cor-primaria);
    min-height: 50px;
    padding: 5px
}

header > h1 {
    color: var(--cor-quartenaria);
    font-family: var(--fonte-destaque);
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

/*NAV (MENU)*/

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav {
    width: auto;
    padding: 15px;
    text-align: center;
    background-color: var(--cor-primaria);
}

nav > a {
    font-weight: 500;
    color: var(--cor-terciaria);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor-quartenaria);
    color: var(--cor-secundaria);
}

/*MAIN (CONTEÚDO PRINCIPAL)*/

.inicial {
    margin-left: 10px;
    margin-right: 10px;
}

.inicial h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.inicial p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.hello {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.hello > h2 {
    color: var(--cor-quartenaria);
    text-align: center;
}

.hello > p {
    text-align: center;
}

strong {
    color: var(--cor-quartenaria);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.proposito {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

blockquote {
    font-style: italic;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-size: 1.2em;
    color: var(--cor-quartenaria);
}

.tecnologias {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.linguagens {
    display: flex;
    justify-content: center;
}

.projetos0 {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.projetos0 > p {
    margin-bottom: 30px;
}

.projeto1 {
    margin: auto;
    text-align: center;
}

.projetos2 {
    font-family: var(--fonte-destaque);
    width: 100px;
    border: 2px solid var(--cor-quartenaria);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor-primaria);
}

.projetos2:hover {
    background-color: var(--cor-quartenaria);
    font-weight: bold;
    color: var(--cor-secundaria);

}
.projetos2 {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.jornada {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);  
}

.redes {
    display: flex;
    justify-content: center;
}

/*FOOTER (RODAPÉ)*/

footer {
    font-family: var(--fonte-destaque);
    font-weight: 400;
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer > p > a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

footer > p > a:hover {
    color: var(--cor-quartenaria);
    text-decoration: underline;
}

 /*PARTE SOBRE*/

 /*MAIN (CONTEÚDO PRINCIPAL)*/

 .sobre {
    margin-left: 10px;
    margin-right: 10px;
}

.sobre h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.sobre p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

 .jornada2 {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.porque {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.porque > ul {
    font-family: var(--fonte-destaque);
    line-height: 2em;
    list-style-type: '\1F449\00A0\00A0';
    list-style-position: inside;
    margin-top: 10px;
}

ul > li > a {
    color: var(--cor-quartenaria);
    text-decoration: none;
}

ul > li > a:hover {
    color: var(--cor-terciaria);
    text-decoration: underline;
}

.aprender {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.cursoemvideo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*PARTE CURRICULO*/

 /*MAIN (CONTEÚDO PRINCIPAL)*/

 .curriculo1 {
    margin-left: 10px;
    margin-right: 10px;
}

.curriculo1 h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.curriculo1 p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.curriculo2 {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.download1 {
    margin: auto;
    text-align: center;
}

.download2 {
    font-family: var(--fonte-destaque);
    width: 100px;
    border: 2px solid var(--cor-quartenaria);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor-primaria);
}

.download2:hover {
    background-color: var(--cor-quartenaria);
    font-weight: bold;
    color: var(--cor-secundaria);
}

.download2 {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.pdf {
    width: 100%;
    height: 1000px;
    border-radius: 10px;
    border: 2px solid var(--cor-terciaria);
    margin-top: 30px;
}