@charset "UTF-8";

/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*PSEUDO-CLASSE*/

:root {
    --cor-primaria: #242424;
    --cor-secundaria: #1d1d1d;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #71ae3f;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Inter';
}

/*CONFIGURAÇÕES GERAIS */

* {
    margin: 0px;
    padding: 0px;
}

/* Imagens em geral */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Container das seções */

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Botões */

.btn-geral {

    font-family: var(--fonte-destaque);
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    width: 110px;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;

    display: inline-block;
    align-self: center;

    background: var(--cor-primaria);
    color: var(--cor-terciaria);

    border: 2px solid var(--cor-quartenaria);
    border-radius: 20px;

    transition: all .5s ease-in-out;

}

.btn-geral:hover {
    text-decoration: none;
    scale: 1.1;
    background-color: var(--cor-quartenaria);
    color: var(--cor-secundaria);
}

/* Links gerais */

a {
    color: var(--cor-quartenaria);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Links da lista não ordenada */

ul li a {
    color: var(--cor-quartenaria);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


/*BODY (CORPO)*/

body {
    background-color: var(--cor-primaria);
    height: 100vh; 
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-destaque);
    color: var(--cor-quartenaria);
}

h2.titulo {
    text-align: center;
}

body p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: var(--cor-terciaria);
}


/*NAV (MENU)*/

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

nav {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-destaque);
}

nav a {
    font-weight: 600;
    color: var(--cor-terciaria);
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

nav a:hover {
    background-color: var(--cor-quartenaria);
    color: var(--cor-secundaria);
    text-decoration: none;
}

/* ------------- QUEM SOU ------------- */  

.img-quem-sou {
    width: 500px;
}

section.quem-sou {
    padding: 40px 4%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.quem-sou .flex {
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.btn-quem-sou {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* ------X------- QUEM SOU ------X------- */


/* ------------- MEU PROPÓSITO ------------- */  





.titulo-proposito {
    margin-bottom: 30px;
}

.fundo-proposito {
    background-image: url(../imagens/tudor-baciu-vc3iVL_znJ8-unsplash.jpg);
    background-color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 500px;
    background-position: right left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.sobreposicao {
    height: 500px;
    background-color: rgba(255, 0, 0, 0.37);
}

.texto-proposito {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------X------- MEU PROPÓSITO ------X------- */


/* ------------- TECNOLOGIAS ------------- */  

section.tecnologias {
    padding: 40px 4%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.tecnologias .flex {
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
}

.icon-tecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-tecnologia i {
    width: 50px;
    height: 50px;
    background: var(--cor-quartenaria);
    color: var(--cor-terciaria);
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ------X------- TECNOLOGIAS ------X------- */


/* ------------- MEUS PROJETOS ------------- */  

section.projetos {
    padding: 40px 4%;
}

section.projetos .flex {
    justify-content: space-between;
    margin-top: 30px;
}

.card-projeto {
    width: 360px;
    height: 460px;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
}

.card-projeto img {
    border-radius: 20px 20px 0px 0px;
}

/* ------X------- MEUS PROJETOS ------X------- */


/* ------------- FOOTER ------------- */ 

footer {
    padding: 20px 4%;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

.linha {
    border-top: 2px solid var(--cor-quartenaria);
    margin-bottom: 10px;
}

.redes-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer p i {
    color: var(--cor-quartenaria);
}

.redes {
    width: 50px;
    height: 50px;
    background-color: #71ae3f;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.redes:hover {
    scale: 1.1;
}

.redes i {
    font-size: 1.5em;
}

/* ------X------- FOOTER ------X------- */

































/*PARTE SOBRE*/

.container-section .linha-paragrafo {
    margin-bottom: 20px;
}

.cursoemvideo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cursoemvideo a {
    width: 50px;
    height: 50px;
    background-color: #71ae3f;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.cursoemvideo a:hover {
    scale: 1.1;
}

.cursoemvideo i {
    font-size: 1.5em;
}

.foto-avatar {
    margin: auto;
}

/* Lista não ordenada sobre*/

.container-section ul {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    list-style-type: '\1F449\00A0\00A0';
    list-style-position: inside;
}

.container-section li {
    margin-bottom: 15px;
}


/* BLOG */

.blog-container h1 {
    font-size: 1.5em;
    text-align: center;
    color: var(--cor-terciaria);
    margin: 20px 0px;
}

.blog-container h1 span {
    color: var(--cor-quartenaria);
}

.blog-cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-self: normal;
    background: var(--cor-secundaria);
    border-radius: 20px;
}

.blog-card h2 {
    font-size: 1.2em;
    text-align: left;
    padding: 0px 10px;
    margin: 10px 0px;
}

.blog-card p {
    font-size: 1em;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.blog-card img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

/* BOTÃO BLOG */

.btn-blog {

    font-family: var(--fonte-destaque);
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    width: 110px;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px;

    display: inline-block;
    align-self: center;

    background: var(--cor-primaria);
    color: var(--cor-terciaria);

    border: 2px solid var(--cor-quartenaria);
    border-radius: 20px;

    transition: all .5s ease-in-out;
}

.btn-blog:hover {
    text-decoration: none;
    scale: 1.1;
    background-color: var(--cor-quartenaria);
    color: var(--cor-secundaria);
}

/* ARTIGOS DO BLOG */

article {
    min-width: 200px;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    border-radius: 20px;
    background-color: var(--cor-secundaria);
}

article h1 {
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

article h2 {
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

article h3 {
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

article h4 {
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

article h5 {
    text-align: left;
    padding: 0px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

article h6 {
    text-align: left;
    padding: 0px 20px;
    margin: 10px 0px;
}

article p {
    line-height: 1.5em;
    text-align: left;
    padding: 10px 20px;
}

article blockquote {
    line-height: 1.5em;
    text-align: left;
    color: var(--cor-quartenaria);
    margin: 20px 20px;
    padding: 0px 10px;
    border-left: 3px solid var(--cor-quartenaria);
    border-radius: 1px;
}

.container-capa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-publicacao {
    font-size: 1em;
    position: absolute;
    padding: 10px;
    bottom: -10px;
    background: var(--cor-primaria);
    border-radius: 50px;
}

.capa-imagem {
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}

article img {
    display: block;
    width: 90%;
    border-radius: 20px;
    margin: 20px auto 20px auto;
}

/* Lista não ordenada artigo */

article ul {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    list-style-type: '\1F449\00A0\00A0';
    list-style-position: inside;
    padding: 0px 10px;
}

article ul li {
    color: var(--cor-terciaria);
    padding: 0px 10px;
    list-style-position: inside;
    margin-bottom: 15px;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 200px) and (max-width: 1000px) {

    .quem-sou {
        flex-direction: column-reverse;
    }

    .texto {
        width: auto;
    }

    .texto h2 {
        text-align: center;
    }

    .texto p {
        text-align: center;
    }

    .botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .foto-perfil {
        width: 100%;
        max-width: 200px;
        height: auto;
        display: block;
        margin-top: 10px;
    }

    .artigo-capa {
        height: 300px;
        object-fit: cover;
    }

    .data-publicacao {
        font-size: 0.9em;
        bottom: -10px;
    }

}